<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>http://api.addthis.com/oexchange/0.8/offer</string>
		<key>Key</key>
		<string>oexchange_endpoint</string>
		<key>Title</key>
		<string>Your OExchange endpoint</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
